@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100svh;
  overflow: hidden;
  background-color: #faf5ff;
  scroll-behavior: smooth;
}

.CENTER {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LANDING_PAGE {
  background-image: url("../../public/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
